._6d5f{display:flex}._6d5g{color:#0084ff;margin-left:16px}
.sp_3EXRbKC1PTq{background-image:url(/rsrc.php/v3/yf/r/a1yVHYFCLYr.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_3EXRbKC1PTq.sx_e4ff4b{background-position:0 0}.sp_3EXRbKC1PTq.sx_c0566d{width:12px;height:12px;background-position:0 -17px}

#bootloader_X0u0d{height:42px;}.bootloader_X0u0d{display:block!important;}