._1j_6{background-color:rgba(0, 0, 0, .6);height:100%;position:absolute;width:100%;z-index:1000}._1j_7{color:#fff;height:100%;margin:auto;vertical-align:middle}._26d3{color:#fff;height:100%;margin:auto;text-align:center;vertical-align:middle}
._56hv,._56hy{display:none}

#bootloader_faHUl{height:42px;}.bootloader_faHUl{display:block!important;}